common --noenable_bzlmod
common --enable_platform_specific_config

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600
build --remote_executor=grpcs://remote.buildbuddy.io
build --remote_header=x-buildbuddy-api-key=****

# Prevent Bazel from detecting the system's C++ toolchain.
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env=true
# Enable the CC toolchain resolution based on platforms.
build --incompatible_enable_cc_toolchain_resolution

build --platforms=@buildbuddy_toolchain//:platform_linux
build --extra_execution_platforms=@buildbuddy_toolchain//:platform_linux
build --extra_toolchains=@buildbuddy_toolchain//:ubuntu_cc_toolchain
